<app-header></app-header>


<div class="connection">
    <div class="input">
        <h1>Étape 1:</h1>
        <p>Bonjour, nous allons tester votre connection avec le serveur.</p>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]='user.name'>
            </mat-form-field>
        </td>
        <mat-card class="example-card">{{text}}</mat-card>
    </div>
    <div>
        <a class="btn" (click)="testConnection()"> Connect to server</a>
    </div>
</div>