a {
    display: block;
    width: 60%;
    padding: 15px;
    position: relative;
    padding: 10px 30px;
    margin: auto;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;

  }
  a:hover {
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
  }
  
  a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
  }
  
  a:hover:before {
    width: 100%;
    height: 100%;
  }
  
  a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
  }
  
  a:hover:after {
    width: 100%;
    height: 100%;
  }

  .connection{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 70%;
      text-align: center;
      align-items: center;
      margin: auto;
  }

.input{
    display: flex;
    background-color: whitesmoke;
    flex-direction:column;
    width: 30%;
    height: 40%;
    border-radius: 2%;
    justify-content: center;
}

.example-card {
    max-width: 80%;
    margin:auto;
  }
