#canvas{
    //border-style: solid;
    //border-color: black;
    //border-width: 3px;
    background-color: white;
}

#map{
    display: flex;
    width: 100%;
    height:100%;
    justify-content: center;
    //background-color: coral;
}