<nav>
    <ul>
       <li class="logo">Crash Project</li>
       <li class="items"><a routerLink="/acceuil">Home</a></li>
       <li class="items"><a routerLink="/application">Application</a></li>
       <li class="items"><a routerLink="/diet">Video</a></li>
       <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>
  <script>
    $(document).ready(function(){
      $('.btn').click(function(){
        $('.items').toggleClass("show");
        $('ul li').toggleClass("hide");
      });
    });
  </script>
  