
#application{
    display: block;
    width: 100%;
    height: 100%;
}

.toolbar{
    display: block;
}

#mainBox{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 85%;
    //background-color: aquamarine;
}

#sideBar{
    display: block;
    width: 20%;
    height: 100%;
    background-color: rgb(139, 139, 139);
    //border-style: solid;
    //border-width: 2px;
}

#mapContainer{

    width: 100%;
    height: 100%;
    //background-color: cadetblue;
    justify-content: center;
}