<app-header></app-header>

<div id="application">
        <div class="toolbar">
            <mat-toolbar>
                <span>Application control</span>
            </mat-toolbar>
        </div>
        <div id="mainBox">
            <div id="sideBar">
                <p></p>
                <mat-card>
                    <mat-card-subtitle>Mission</mat-card-subtitle>
                    <button mat-raised-button color="primary" (click)="startMission()">Start</button>
                    <button mat-raised-button color="accent" (click)="stopMission()">Stop</button>
                
                </mat-card>
            </div>
            <p></p>
            <div id="mapContainer">
                <app-map></app-map>
            </div>
        </div>
</div>